<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Survey Form</title>
</head>
<body>
    <div class="overlay"></div>
    <header>
        <nav>
            <div class="navigation">
                <div class="logo"><img src="/assets/img/logo-removebg.png" alt="logo"></div>
                <div class="nav_menu">
                    <ul>
                        <li><a href="index.htmm">Home</a></li>
                        <li><a href="about.html">About Us</a></li>
                        <li><a href="/form">Survey</a></li>
                        <li><a href="contact.html">Reach Us</a></li>
                    </ul>
                </div>
                <div class="user">
                    <p>Welcome <em>User</em>   <i class="fa-solid fa-user"></i></p>
                </div>
            </div>
        </nav>
    </header>

    <div class="form-container">
        <h1>Take A Survey</h1>
        <h4>Thank you for taking the time to help us improve the platform</h4>
        <form action="/form" method="POST">
            <label for="name">Name</label><br>
            <input type="text" name="name" placeholder="Enter your full names" required><br><br>

            <label for="email">Email</label><br>
            <input type="email" name="email"  placeholder="Enter your Email" required><br><br>

            <label for="age">Age (optional)</label><br>
            <input type="text" name="age"  placeholder="Enter your Age" required><br><br>
            
            <label for="dropdown">Which option best describes your current role?</label><br>
            <select name="current-role" id="dropdown">
            <option selected disabled>Select current role</option>
            <option value="student">Student</option>
            <option value="full time job">Full Time Job</option>
            <option value="full time learner">Full Time learner</option>
            <option value="prefer not to say">Prefer not to say</option>
            <option value="other">Other</option>
            </select>

            <fieldset class="fieldset">
            <label for="radio-button">Which is your favorite feature of the program?</label><br>
            <ul class="radio">
                <li class="radio-button"><label><input type="radio" name="radio-buttons" value="challenges" class="favorite-feature">Challenges</label></li>
                <li class="radio-button"><label><input type="radio" name="radio-buttons" value="projects" class="favorite-feature">Projects</label></li>
                <li class="radio-button"><label><input type="radio" name="radio-buttons" value="community" class="favorite-feature">Community</label></li>
                <li class="radio-button"><label><input type="radio" name="radio-buttons" value="open-source" class="favorite-feature">Open Source</label></li>
            </ul>
            </fieldset>

            <fieldset class="fieldset">
                <label for="recommendation">What would you like to see improved? (Check all that apply)</label>
                <ul class="check">
                    <li class="checkbox"><label><input type="checkbox" name="improvements" value="front-end-projects">Front-end Projects</label></li>
                    <li class="checkbox"><label><input type="checkbox" name="improvements" value="back-end-projects">Back-end Projects</label></li>
                    <li class="checkbox"><label><input type="checkbox" name="improvements" value="data-visualization">Data Visualization</label></li>
                    <li class="checkbox"><label><input type="checkbox" name="improvements" value="challenges">Challenges</label></li>
                    <li class="checkbox"><label><input type="checkbox" name="improvements" value="open-source">Open Source Community</label></li>
                    <li class="checkbox"><label><input type="checkbox" name="improvements" value="gitter-help-rooms">Gitter help rooms</label></li>
                    <li class="checkbox"><label><input type="checkbox" name="improvements" value="vidoes">Videos</label></li>
                    <li class="checkbox"><label><input type="checkbox" name="improvements" value="city-meetups">City Meetups</label></li>
                    <li class="checkbox"><label><input type="checkbox" name="improvements" value="wiki">Wiki</label></li>
                    <li class="checkbox"><label><input type="checkbox" name="improvements" value="forum">Forum</label></li>
                    <li class="checkbox"><label><input type="checkbox" name="improvements" value="additional-courses">Additional Courses</label></li>
                </ul>
            </fieldset>

            <fieldset class="fieldset">
                <h4>Any comments or suggestions?</h4>
                <div class="commentbox">
                    <textarea name="comment" rows="6" placeholder="Enter your comment here..."></textarea><br><br>
                    <input type="submit" name="submit" value="Submit">
                </div>
            </fieldset>
            {{ if .Success }}
            <div class="msg">{{.Message}}</div>
            {{end}}
        </form>
    </div>
    <footer>
        <div class="footer-bunner">
            <ul class="faqs">
                <li><a href="">FAQS</a></li>
                <li><a href="">Calendar 2024</a></li>
            </ul>
            <p>&copy2024 The Academy</p>
            <div class="subscribe-form">
                <h6>Subscribe for Newsletter</h6>
                <form action="/subscribe" method="post">
                    <!--<label for="email"></label>-->
                    <input type="email" id="email" name="email" placeholder="Enter your email" required>
                    <button type="submit" value="Subscribe">Subscribe</button>
                </form>
            </div>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script> 
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>